{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for list in Listings %}
            <div style="border: 10px; padding:1%; background-color: gainsboro; margin-bottom: 1%;">
                {{ list.id }}. 
                <div>{{ list.title }}</div>
                <div>Price: ${{list.current_bid}}</div>
                <div>{{ list.destination }}</div>{{ list.destination }}
                <div>Created at: {{ list.created_date }} by {{ list.creator}}</div>
            </div>
                
    {% endfor %}

{% endblock %}