{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing</h2>

    <div style="border: 10px; padding:1%; background-color: gainsboro; margin-bottom: 1%;">
        {{ listing.id }}. 
        <div>{{ listing.title }}</div>
        <div>Description from the creator: {{ listing.description }}</div>
        <div>Created at: {{ listing.created_date }}</div>
        <div>Creator: {{ listing.creator }}</div>
        <div>Price: ${{listing.current_bid}}</div>
        {% if listing.is_active %}
            
            <div>Auction is on-going.</div>
        {% else %}
            <div>Acution is finished.</div>
            <div>{{ listing.current_bidder }} won the auction. </div>
        {% endif %}
    </div>
    
    <!-- Add to watchlist form -->
    {% if listing.is_active %}
        <form action="{% url 'listing' listing.id %}" method="POST">
            {% csrf_token %}
            {% if is_watched %}
                <input type="submit"  name="update_watchlist" value="Remove from WatchList">
            {% else %}
                <input type="submit" name="update_watchlist" value="Add it to WatchList">
            {% endif %}
        </form>

        </br>

        <!-- bid form  -->
        <form action="{% url 'listing' listing.id %}" method="POST">
            {% csrf_token %}
            <label>Bid: </label>
            <input type="number" name="bid" placeholder="add your bid">
            <input type="submit" name="submit_bid">
            {% if messages %}
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            {% endif %}
        </form>

        <!-- a button to close auction -->
        <form action="{% url 'listing' listing.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" name="close_auction" value="close">
            {{ m }}
        </form>
    {% endif %}
    
{% endblock %}