{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing</h2>

    <div style="border: 10px; padding:1%; background-color: gainsboro; margin-bottom: 1%;">
        <div><h4>{{ listing.title }}</h4></div>
        <div><b>Category: </b>{{ listing.category.capitalize }}</div>
        <div><b>Description from the creator: </b>{{ listing.description }}</div>
        <div><b>Created at: </b>{{ listing.created_date }}</div>
        <div><b>Creator: </b>{{ listing.creator }}</div>
        <div><b>Price: </b>${{listing.current_bid}}</div>
        {% if listing.is_active %}
            <div>Auction is on-going.</div>
        {% else %}
            <div>Acution is finished.</div>
            <div>{{ listing.current_bidder }} won the auction. </div>
        {% endif %}
        </br>
        <div><b>Comments:</b></div>
        {% for comment in comments %}
            <div>{{ comment.commentor }}: {{ comment.comment_content }}</div>
        {% endfor %}
    </div>
    
   
    {% if listing.is_active %}
        <!-- Add to watchlist form -->
        <form action="{% url 'listing' listing.id %}" method="POST">
            {% csrf_token %}
            {% if is_watched %}
                <input type="submit"  name="update_watchlist" value="Remove from WatchList">
            {% else %}
                <input type="submit" name="update_watchlist" value="Add it to WatchList">
            {% endif %}
        </form>
        </br>

        <!-- bid form  -->
        <form action="{% url 'listing' listing.id %}" method="POST">
            {% csrf_token %}
            <label>Bid: </label>
            <input type="number" name="bid" placeholder="add your bid">
            <input type="submit" name="submit_bid">
            {% if messages %}
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            {% endif %}
        </form>
        </br>

        <!-- Add comment -->  
        <form action="{% url 'listing' listing.id %}" method="POST">
            {% csrf_token %}
            <label>Add comments:</label></br>
            <textarea type="text" name="comment" cols="20" rows="5" placeholder="Leave your comments here."></textarea></br>
            <input type="submit" name="submit_comment" value="submit comment!">
        </form>

        <!-- a button to close auction and only creactor can view the button -->
        {% if is_creator %}
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" name="close_auction" value="close">
                {{ m }}
            </form>
        {% endif %}
    {% endif %}
    
{% endblock %}