{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Wish Listings</h2>

    {% for listing in wishlistings %}
        <a href="{% url 'listing' listing.id %}">
            <div style="border: 10px; padding:1%; background-color: gainsboro; margin-bottom: 1%;">
                {{ listing.id }}. 
                <div>{{ listing.title }}</div>
                <div>Price: ${{listing.current_bid}}</div>
                <div>{{ listing.destination }}</div>{{ listing.destination }}
                <div>Created at: {{ listing.created_date }} by {{ listing.creator}}</div>
            </div>
        </a>
                
    {% endfor %}

{% endblock %}